<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>440258673647-oesj19nr8b02gui7rsqlilshv2s0apeg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.440258673647-oesj19nr8b02gui7rsqlilshv2s0apeg</string>
	<key>API_KEY</key>
	<string>AIzaSyCvSrUgFH7oDeRWYJp9FJa3foonV4hTchg</string>
	<key>GCM_SENDER_ID</key>
	<string>440258673647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterTodoApp</string>
	<key>PROJECT_ID</key>
	<string>todoapp-53b44</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-53b44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:440258673647:ios:56de36472b2f73d918941a</string>
</dict>
</plist>